.container{
  margin-inline: auto;
  width: min(90%, 150rem);
}

.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.split {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;

  &>* {
    flex-basis: 30%;
    min-width: 25em;
  }
}
