@mixin normal-text($font-size: var(--fs-400), $line-height: 1){
  font-size: $font-size;
  line-height: $line-height;
  font-family: var(--ff-primary-one);
  font-weight: 400;
  color: var(--clr-grayish-blue);
}

@mixin bold-text($font-size: var(--fs-600), $line-height: 1){
  font-size: $font-size;
  line-height: $line-height;
  font-family: var(--ff-primary-two);
  font-weight: 600;
  color: var(--clr-dark-grayish-blue);
}
